body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.nav-links a:hover{
    color: antiquewhite;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
main {
    text-align: center;
    padding: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.api-description
{
    border: 5px solid #333;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
  
}
.subgrid
{
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    
}
.subgrid:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}